body { 
    background: white;
}

.pad25{
    padding: 25px;
}
.pad10{
    padding: 10px;
}

.pad5{
    padding: 3px;
}

.padright{
    position:relative;
    left: 77%;
}

.box {
    width: 110%;
    height: 110%;
    border-radius: 20%;
    #border-style: solid;
    border-color: lightgrey;
    flex-shrink: 2;
    
}

.boxnum {
    font-size: 150%;
    text-align: center;
    vertical-align: text-bottom;
}

.boxtext {
    text-align: center;
    font-size: 70%;
}

.headerbgcolor{
    background-color: grey;
    padding-bottom: 10px;
    padding-top: 10px;
}