<div class="container-fluid headerbgcolor">
    <div class="container">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
            <a href="/questions"> <img src="/static/images/B-Questions.svg" height="175" width="175" class="img-responsive"> </a>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                    <a href="/tags"> <img src="/static/images/B-Tags.svg" height="175" width="175" class="img-responsive"> </a>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
            <a href="/heroes"> <img src="/static/images/B-Heros.svg" height="175" width="175" class="img-responsive"> </a>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
            <a href="/badges"> <img src="/static/images/B-Badges.svg" height="175" width="175" class="img-responsive"> </a>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
            <a href="/unanswered"> <img src="/static/images/B-Unanswered.svg" height="175" width="175" class="img-responsive"></a>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
            <a href="/ask"> <img src="/static/images/B-Ask.svg" height="175" width="175" class="img-responsive"> </a>
        </div>
    </div>
</div>