        <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <p>Copyright 2015 &copy; OpenFAQS</p>
                        </div>
                        <div class="col-md-8">
                            <div class="pull-right">
                            <a   href="/privacy">Privacy</a>&nbsp;&nbsp;
                            <a   href="/terms">Terms of Service</a>&nbsp;&nbsp;
                            <a   href="/about">About</a>&nbsp;&nbsp;
                            <a   href="/contact">Contact</a>
                        </div>
                        </div>
                    </div>
        </div>
            
      

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="static/js/bootstrap.min.js"></script>
  
  </body>

</html>