
      <div class="footer">
      <div class="container">
        <div class="footer-div">
        <div class="col-md-6 center">
        <p class="footer-text">Copyright 2015 &copy; OpenFAQS</p>
        </div>
        <div class="col-md-6 center">
            <a class="footerlink" href="/privacy">Privacy</a>&nbsp;&nbsp;
            <a class="footerlink" href="/terms">Terms of Service</a>&nbsp;&nbsp;
            <a class="footerlink" href="/about">About</a>&nbsp;&nbsp;
            <a class="footerlink" href="/contact">Contact</a>
        </div>
        </div>
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="static/js/bootstrap.min.js"></script>
  </body>
</html>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="js/bootstrap.min.js"></script>
    </body>
</html>