{% include 'header.html' %}
        
        <div class="pad25"></div>
        
        <div class="container-fluid headerbgcolor">
            <div class="container">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                    <a href="/questions"> <img src="../static/images/B-Questions.svg" height="175" width="175" class="img-responsive"> </a>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                    <a href="/tags"> <img src="../static/images/B-Tags.svg" height="175" width="175" class="img-responsive"> </a>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                    <a href="/heroes"> <img src="../static/images/B-Heros.svg" height="175" width="175" class="img-responsive"> </a>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                    <a href="/badges"> <img src="../static/images/B-Badges.svg" height="175" width="175" class="img-responsive"> </a>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                    <a href="/unanswered"> <img src="../static/images/B-Unanswered.svg" height="175" width="175" class="img-responsive"></a>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                    <a href="/ask"> <img src="../static/images/B-Ask.svg" height="175" width="175" class="img-responsive"> </a>
                </div>
            </div>
        </div>

         <div class="pad10"></div>     

        
        <div class = "container">
            <ul class="nav nav-tabs">
                <li role="presentation" class="active"><a href="#">Top Questions</a></li>
                <li role="presentation"><a href="#">Week</a></li>
                <li role="presentation"><a href="#">Month</a></li>
            </ul>
        </div>
        
        <div class = "container">
            <div class="panel panel-default">
                <div class="panel-body">
                    
                    <div class="panel panel-default">    
                        <div class="panel-body">
                            <div class="col-lg-11 col-md-11 col-sm-10 col-xs-10">
                            <h1>How do I do the needful?</h1>
                                <p>Asked by llazinskiy on 12/04/2014</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>                                
                            <button type="button" class="btn btn-primary">HTML</button>
                                </div>
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                <div class="box">
                                    <div class="boxnum">0</div>
                                    <div class="boxtext">Votes</div>
                                </div>
                                <div class="pad5"></div>
                                <div class="box">
                                    <div class="boxnum">0</div>
                                    <div class="boxtext">Answers</div>
                                </div>
                                <div class="pad5"></div>
                                <div class="box">
                                    <div class="boxnum">0</div>
                                    <div class="boxtext">Views</div>
                                </div>
                            
                            </div>
                            
                            
                        </div>        
                    </div>
                    
                    
                </div>
            </div>
        </div>
    </div>

{% include 'footer.html' %}
