<!------------------------------------------------ -->
<!- Creates the header from header.html >
<!------------------------------------------------ -->
{% include 'header.html' %}
        
<!-------------------------------------------------------------->
<!- Padding that pushes down the banner so it lines up properly>
<!-------------------------------------------------------------->
<div class="pad25"></div>
        
<!-------------------------------------------------->
<!- Adds the banner to this page>
<!-------------------------------------------------->
{% include 'banner.html' %}

<!------------------------------------------------------------->
<!- Padding that creates room for the Questions/Week/Month Tabs>
<!-------------------------------------------------------------->
<div class="pad10"></div>     

<!-------------------------------------------------->
<!- Creates the tabs above the questions>        
<!-------------------------------------------------->
<div class = "container">
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#">Top Questions</a></li>
        <li role="presentation"><a href="#">Week</a></li>
        <li role="presentation"><a href="#">Month</a></li>
    </ul>
</div>
        
<!------------------------------------------------------------>
<!- Generates the panel and pulls questions from the database>
<!------------------------------------------------------------>
<div class = "container">
    <div class="panel panel-default">
        <div class="panel-body">

            {% for question in questions %} 
            <div class="panel panel-default">   
                <div class="panel-body">
                    <div class="col-lg-11 col-md-11 col-sm-10 col-xs-10">
                        <h3>{{ question.Title }}</h3>
                        <p>Asked by {{question.UserName}} on {{ question.Date }}</p>
                            
                        <p> {{ question.Question }} </p>   

                        {% for tag in question.Tags %}
                        <button type="button" class="btn btn-primary">{{ tag.Tag }}</button>
                        {% endfor %}
                    </div>
                            
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                        <div class="box">
                            <div class="boxnum">{{ question.Votes }}</div>
                            <div class="boxtext">Votes</div>
                        </div>
                        <div class="pad5"></div>
                        <div class="box">
                            <div class="boxnum">{{ question.Answers }}</div>
                            <div class="boxtext">Answers</div>
                        </div>
                        <div class="pad5"></div>
                        <div class="box">
                            <div class="boxnum">{{ question.Views}}</div>
                            <div class="boxtext">Views</div>
                        </div>                    
                    </div>
                            
                            
                </div>       
            </div>
            {% endfor %}

        </div>
    </div>
</div>

{% include 'footer.html' %}
