<div class="panel panel-default">
    
    <!------------------------------------------------------->
    <!-- This section is created in a panel.  This section -->
    <!-- generates the panel header and the x that closes  -->
    <!-- the modal.                                        -->
    <!------------------------------------------------------->
    <div class="panel-heading">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="panel-title text-center">Login to OpenFAQS</h3>
    </div>
    
    <!------------------------------------------------------->
    <!-- This generates the panel body which conatins the  -->
    <!-- Username and Password forms. Also conatins the    -->
    <!-- submit and back buttons.                          -->
    <!------------------------------------------------------->
    <div class="panel-body">
           
        <!--------------------------------------------------------->
        <!-- Start of form.  Action sends POST data to /register -->
        <!-- listener in registration.py                         -->
        <!--------------------------------------------------------->
        <form class="form-horizontal">
                 
            <div class="form-group">
                <label class="col-sm-3 control-label">Username</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="#" placeholder="">
                </div>
            </div>
        
            <div class="form-group">
                <label class="col-sm-3 control-label">Password</label>
                <div class="col-sm-9">
                    <input type="password" class="form-control" id="#" placeholder="">
                </div>
            </div>
            
            <div class="row">
                 <div class="col-sm-offset-7">
                     <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Back</button>
                     <button id="submit" name="submit" class="btn btn-success btn-sm">Submit</button>
                 </div>
                <hr>
                <div style="text-align: center">
                    <a class="#">Forget Username? | </a> <a class="#">Forget Password?</a>
                </div>
            </div>
        
        </form>
    </div>
</div>