<!-- imports form validation AJAX -->

<script src="/static/js/register.js"></script>

<!-- 
This section is created in a panel. This section 
generates the panel header and the x that closes the 
modal. 
-->

<div class="panel panel-default">
    <div class="panel-heading">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="panel-title text-center">Sign Up for OpenFAQS</h3>
    </div>

    <!------------------------------------------------------->
    <!-- This generates the panel body which conatins the  -->
    <!-- First Name, Last Name, E-mail, Username, Password,-->
    <!-- forms.  Also conatins the submit and close button -->
    <!------------------------------------------------------->
    <div class="panel-body">
    
        <!--------------------------------------------------------->
        <!-- Start of form.  Action sends POST data to /register -->
        <!-- listener in registration.py                         -->
        <!--------------------------------------------------------->
        <form class="form-horizontal" method="post" action="register">
          
            <!--------------------------------------------------------->
            <!-- First Name || ID: firstname NAME: firstname         -->
            <!--------------------------------------------------------->
            <div class="form-group">
                <label  class="col-sm-3 control-label">First Name</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="firstname" name="firstname" placeholder="First Name">
                </div>
            </div>
          
            <!--------------------------------------------------------->
            <!-- Last Name || ID: lastname NAME: lastname            -->
            <!--------------------------------------------------------->
            <div class="form-group">
                <label  class="col-sm-3 control-label">Last Name</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Last Name">
                </div>
            </div>
        
            <!--------------------------------------------------------->
            <!-- E-Mail || ID: email NAME: email                     -->
            <!--------------------------------------------------------->
            <div class="form-group">  
                <label for="email" class="col-sm-3 control-label">Email</label>
                <div id="emailDiv" class="col-sm-8">
                    <input type="email" class="form-control" id="email" name="email" placeholder="Email" value="" OnBlur="checkEmail()" requried="" />
                    <span id="emailhelp" class="help-block"></span>
                </div>
            </div>

            <hr>
        
           <!--------------------------------------------------------->
            <!-- Username || ID: username NAME: username            -->
            <!-------------------------------------------------------->
            <div class="form-group">  
                <label for="username" class="col-sm-3 control-label">Username</label>
                <div id="usernameDiv" class="col-sm-8">
                    <input type="text" class="form-control" id="username" name="username" placeholder="Username" value="" onBlur="checkUsername()" required=""/>
                    <span id="usernamehelp" class="help-block"></span>
                </div>
            </div>
        
            <!--------------------------------------------------------->
            <!-- Password || ID: password1  NAME: password           -->
            <!--------------------------------------------------------->
            <div class="form-group">  
                <label for="password1" class="col-sm-3 control-label">Password</label>
                <div id="passwordDiv1" class="col-sm-8">
                    <input type="password" class="form-control" id="password1" name="password" placeholder="Password" value="" required=""/>
                </div>
            </div>
        
            <!--------------------------------------------------------->
            <!-- Confirm Password || ID: password2                   -->
            <!--------------------------------------------------------->
            <div class="form-group">  
                <label for="password2" class="col-sm-3 control-label">Confirm Password</label>
                <div id="passwordDiv2" class="col-sm-8">
                    <input type="password" class="form-control" id="password2" placeholder="Confirm Password" value="" requried="" onkeyup="checkPass(); return false;" />
                    <span id="password2help" class="help-block"></span>
                </div>
            </div>
    
            <!----------------------------->
            <!-- Back and Submit Buttons -->
            <!----------------------------->
            <div class="row">
                <div class="col-sm-offset-9">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Back</button>
                    <button id="submit" name="submit" class="btn btn-success">Submit</button>
                </div>
            </div>
        
        </form>
    </div>
</div>