{% include 'header.html' %}
    
    <br /> 
    <br />

    <script src="/static/js/register.js"></script>

    <div class="container" style="margin-top:25px;">
    <div class="row">
        <div class="span4 offset4 well">
            <legend>Create an Account</legend>
            <form class="form-horizontal" method="post" action="register">
                <div class="form-group">
                    <label for="username" class="control-label col-xs-2">Your Name</label>
                    <div class="col-xs-10">
                        <input type="text" class="form-control" id="name" name="name" placeholder="Required" value="" required=""/>
                        <span class="help-block">Your first and last name</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="username" class="control-label col-xs-2">Your Email Address</label>
                    <div class="col-xs-10">
                        <input type="email" class="form-control" id="email" name="email" placeholder="Required" value="" required=""/>
                    </div>
                </div>
                <hr/>
                <div class="form-group">
                    <label for="username" class="control-label col-xs-2">Username</label>
                    <div id="usernameDiv" class="col-xs-10">
                        <input type="text" class="form-control" id="username" name="username" placeholder="Required" value="" OnBlur="checkUsername()" required=""/>
                        <span id="usernamehelp" class="help-block"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="username" class="control-label col-xs-2">Password</label>
                    <div id="passwordDiv1" class="col-xs-10">
                        <input type="password" class="form-control" id="password1" name="password" placeholder="Required" value="" required=""/>
                    </div> 
                </div>
                <div class="form-group">
                    <label for="username" class="control-label col-xs-2">Confirm Password</label>
                    <div id="passwordDiv2" class="col-xs-10">
                        <input type="password" class="form-control" id="password2" name="passwordconfirm" placeholder="Required" value="" required="" onkeyup="checkPass(); return false;"/>
                        <span id="password2help" class="help-block"></span>
                    </div>
                </div>
                <hr/>

                <br/>
                <div class="form-group">
                    <div class="col-xs-12">
                        <button id="submit" name="submit" class="btn btn-success wide-button">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% include 'footer.html' %}